body {
    height: 100vh;
}

#col-gauche {
    /* background: red ; */
    height: 100vh;
}

#col-droite {
    /* background: yellow ; */
    height: 100vh;
}

img {
    /* max-width: 500px;
    padding : 5px;
    margin-right: 10px; */
    height: 100%;
    width: 100%;
}

col {
    margin: 0 !important;
    padding: 0 !important;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

